# Backend এর node_modules ফোল্ডার বাদ দিন
backend/node_modules/

# Frontend এর node_modules ফোল্ডার বাদ দিন
frontend/node_modules/

# .env ফাইল বাদ দিন
backend/.env
frontend/.env

# লগ ফাইল বাদ দিন
*.log

# ডিস্ট বা বিল্ড ফোল্ডার বাদ দিন (ফ্রন্টএন্ডের জন্য সাধারণ)
frontend/build/
